<!DOCTYPE html>
<head>
    <meta charset="utf-8" />    
    <title>Maintenance Page</title>
</head>
<body>
   {{> header}}
    <p>Maintenance Page Text</p>
    <p>
        Website is down for maintenance.
    </p>

     {{> footer}}
</body>
</html> 