<!DOCTYPE html>
<head>
    <meta charset="utf-8" />    
    <title>Projects Page</title>
</head>
<body>
     {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
   {{> footer}}
   <ol>
       <li>{{project1}} </li>
       <li>{{project2}}</li>
   </ol>
</body>
</html> 